	<div class="col col-sm-6 col-opinions">
			<button type="button" class="btn btn-large btn-create-opinion">Give an Opinion</button>

		{{#each opinions}}
		<div class="single-opinion">
			<h3>At {{created}}, {{username}} input:</h3>
			<p class="question">{{q1}}</p>
			<p class="answer">{{a1}}</p>
			<p class="question">{{q2}}</p>
			<p class="answer">{{a2}}</p>
			<p class="question">{{q3}}</p>
			<p class="answer">{{a3}}</p>
		</div>
		{{/each}}

		</div><!-- /col-opinions -->